heladeria/heladeria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="heladeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="helado" maxOccurs="unbounded" minOccurs="0">
      
	   <xs:complexType> 
 <xs:sequence>    
		<xs:choice>      
			<xs:element name="chocolate" type="xs:string"/> 
			<xs:element name="fresa" type="xs:string"/>  
</xs:choice> 
	     <xs:choice> 
			<xs:element name="vainilla" type="xs:string"/> 
			<xs:element name="turron" type="xs:string"/> 
			<xs:element name="nata" type="xs:string"/>			
		</xs:choice>  
 </xs:sequence> 
<xs:attribute name="fabricacion" type="xs:date"  use="required"/> 
       </xs:complexType>
  
        </xs:element>
      </xs:sequence>

    </xs:complexType>
	 
  </xs:element>
</xs:schema>